@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;

}
form{
    width: 400px;
    margin: auto;
}
header p{
    text-align: left;
}
div{
    margin: 16px;
}

textarea{
    display: block;
}